.attendance-table-wrapper {
  max-height: 450px;
  overflow: auto;
  border: 1px solid $border-color;

  .common-table {
    border: none;

    thead {
      position: sticky;

      top: -1px;
      border-bottom: 1px solid $border-color;
    }
  }

  /* styles.css */
  .select__control {
    min-width: 300px;
    margin-bottom: 20px;
  }

  .select__menu {
    z-index: 1000;
  }
}

#studentAttendanceBarChart,
#teacherAttendanceBarChart {
  margin: 20px 0;
}

canvas {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
