.common-table {
  width: 100%;
  border-radius: 4px;
  border: 1px solid $border-color;
  thead {
    border-radius: 4px 4px 0px 0px;
    background: $magnolia;
    color: $main-color;
    z-index: $zindex-overlay;

    th {
      padding: getSpacing('4x');
      font-weight: $font-weight-medium;
    }
  }
  tbody {
    background: $white;

    tr {
      border-bottom: 1px solid $border-color;

      &:last-child {
        border: none;
      }

      td {
        white-space: nowrap;
        padding: getSpacing('4x');
      }
    }
  }
}

.module-overview {
  padding: 40px 0;
  background-color: #f5f5f5;
  overflow-x: hidden;

  .course-list {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 30px;

    @include e(image) {
      img {
        height: 195px;
      }
    }
  }

  .course {
    flex: 1 1 300px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .course img {
    width: 100%;
    display: block;
  }

  .course-info {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
  }

  @include m(inner) {
    background: none;
    overflow: auto;
  }
}
