%outline-as-border {
  outline-offset: -1px;
  outline: 1px solid $border-color;
}

.dashboard {
  display: flex;

  @include e(sidebar) {
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    border-right: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zindex-sticky;
    background-color: $white;
    transition: left 0.3s ease-in-out;

    @include mq(md) {
      position: static;
      width: 256px;
    }

    @include m(hidden) {
      left: -100%;
      transition: left 0.3s ease-in-out;
    }

    //logo and playground
    @include e(header) {
      height: 68px;
      position: relative;
      padding: getSpacing('4x') getSpacing('6x');
      align-items: flex-end;
      border-bottom: 1px solid $border-color;

      @include mq(md) {
        padding: 13px 22px 19px getSpacing('6x');
      }

      @include e(title) {
        margin: 0 0 2px;
        font-weight: $font-weight-medium;
        color: $main-color;
      }

      .image {
        img {
          width: 122px;
        }
      }

      .cross-icon {
        position: absolute;
        top: 20px;
        right: 24px;
        cursor: pointer;
      }
    }

    @include e(empty) {
      flex-grow: 1;
    }

    //navigation
    %activeProperty {
      background: #e9f0ff;
      border-radius: 4px;
      color: $blue;
      svg {
        stroke: $blue;
      }
    }

    @include e(navigation-desktop) {
      padding: getSpacing('4x');
      gap: 8px;
      list-style: none;
      margin-bottom: 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;

      .item {
        @include e(link) {
          gap: 8px;
          display: flex;
          cursor: pointer;
          align-items: center;
          font-weight: $font-weight-medium;
          padding: getSpacing('2x') getSpacing('4x');
          color: rgba($color: $main-color, $alpha: 0.67);
          svg {
            flex-shrink: 0;
            color: rgba($color: $main-color, $alpha: 0.87);
            stroke: rgba($color: $main-color, $alpha: 0.87);
          }

          &:hover {
            @extend %activeProperty;
          }

          @include m(active) {
            @extend %activeProperty;
          }
        }
      }
    }

    @include e(navigation-mobile) {
      position: fixed;
      bottom: 0;
      left: 0;
      justify-content: center;
      gap: 80px;
      align-items: center;
      z-index: $zindex-overlay;
      flex-direction: row;
      width: 100vw;
      background: $purple-grey;
      box-shadow: 0px -4px 12px rgba(0, 10, 44, 0.1);
      margin-bottom: 0;
      padding: getSpacing('4x') getSpacing('6x');
      .item {
        list-style: none;
        align-items: center;
        @include e(link) {
          display: flex;
          cursor: pointer;
          stroke: $main-color;
          color: $main-color;

          @include m(active) {
            color: $blue;

            svg {
              stroke: $blue;
            }
          }
        }
      }
    }
  }
  
  //mobile nav
  @include e(mobile-nav) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: getSpacing('3x') getSpacing('6x');
    border-bottom: 1px solid $border-color;

    @include e(home) {
      display: flex;
      gap: 16px;

      p {
        color: $main-color;
        font-weight: $font-weight-medium;
      }
    }

    @include e(image) {
      max-height: 24px;
      img {
        height: 24px;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  @include e(contents) {
    height: calc(100vh - 60px);
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include mq(md) {
      overflow-x: auto;
      height: 100dvh;
    }

    .playground-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;

      @include mq(md) {
        min-width: 944px;
      }
    }

    @include e(details) {
      height: 100%;
      padding-bottom: 142px;

      @include mq(xxxl) {
        width: 1508px;
        margin: 0 auto;
      }
    }
  }

  @include e(projects-toggle) {
    display: flex;
    border-bottom: 1px solid $border-color;

    .search-icon {
      display: flex;
      align-items: center;
      border-right: 1px solid $border-color;
    }

    .active-item {
      color: $blue;
      position: relative;
      font-weight: $font-weight-medium;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        height: 4px;
        width: 4px;
        border-radius: 2px;
        background: $blue;
        top: calc(100% + 2px);
        left: calc(50% - 2px);
      }
    }
  }

  @include e(search) {
    @include e(form) {
      position: relative;
      display: block;

      .search-field-terms {
        @extend %outline-as-border;
        height: 36px;
        display: block;
        font-size: 14px;
        line-height: 20px;
        color: rgba($color: $main-color, $alpha: 0.67);
        width: calc(100vw - 48px);
        padding: getSpacing('2x') getSpacing('8x');
        margin: getSpacing('2x') getSpacing('6x');
        position: relative;
        border: none;

        @include mq(md) {
          margin: 0;
          padding: 8px 16px 8px 44px;
          width: 220px;
        }
      }
      .icon {
        position: absolute;
        left: 16px;
        top: 8px;
      }

      .clear-icon {
        position: absolute;
        top: 16px;
        right: 32px;
      }

      .back-icon {
        position: absolute;
        top: 16px;
        left: 32px;
      }
    }
  }

  @include e(header) {
    height: 68px;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    @include e(title) {
      font-size: 24px;
      line-height: 36px;

      @extend %ellipsis;
      min-width: 0;
    }
  }
}

.dashboard__sidebar__footer {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;

  @include e(title) {
    color: rgba($color: $main-color, $alpha: 0.87);
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }

  @include e(subtitle) {
    color: rgba($color: $main-color, $alpha: 0.67);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
}
